.margin10{
  margin-bottom:10px;
  margin-right:10px;
}

.postShort{
  border-bottom:1px solid #ddd;
  overflow:hidden;
}

.charity {
  width: 8%;
  height: 8%;
}

.post-img {
  width: 45%;
  height: 45%;
}

.btn-post {
  color: #ffffff;
  background-color: #1a58bc;
  border-radius:0;
  border-color: #1a58bc;
  margin-bottom:10px
}
.btn-post:hover,
.btn-post:focus,
.btn-post:active,
.btn-post.active,
.open .dropdown-toggle.btn-post {
  color: white;
  background-color:#1a58bc;
  border-color: #1a58bc;
}
.main_title {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

#webpage_title {
  margin-bottom: 30px;
}
