body {
  padding-top: 70px;
}
#intro {
  height: 50vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}
.component {
  padding: 10vh;
}
#journey_desc {
  padding-right: 10vw;
  position: relative;
  display: inline-block;
  height: 100%;
}
#share_buttons {
  position: absolute;
  bottom: 0;
}
#heartRate {
  width: 40vw;
  height: 40vh;
}
#calories {
  width: 40vw;
  height: 40vh;
}
#distance {
  width: 40vw;
  height: 40vh;
}
#twitter_feed {
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}
#journey_img {
  /* make it a circle */
  width: 25vw;
  height: 25vw;
  border-radius:50%;
}
#top_line {
  border: 3px solid black;
}
.separate_line {
  border-width: 2px;
}
.title_text {
  color: black;
}
