<template>
  <div class="container">
  <div id="webpage_title">
    <img src="../../../assets/images/logo.png"/>
    <h1 class="main_title">Explore the latest journeys and support charities!</h1>
    <hr class="featurette-divider">
  </div>
    <div id="post" class="row">
      <div class="col-md-10 postShort">
        <h1>Trip to the South pole</h1>
        <img src="../../../assets/images/south_pole.png" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
        <post><p>
          This is a random desrciption of this post
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
        </p></post>
        <a class="btn btn-post pull-right marginBottom10" href="https://stackoverflow.com">READ MORE</a>
      </div>
      <div class="col-md-10 postShort">
        <h1>Expedition on wild west</h1>
        <img src="../../../assets/images/JamesRedden.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
        <post><p>
          This is a random desrciption of this post
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
        </p></post>
        <a class="btn btn-post pull-right marginBottom10" href="https://stackoverflow.com">READ MORE</a>
      </div>

      <div class="col-md-10 postShort">
        <h1>Title 3</h1>
        <img src="../../../assets/images/JamesRedden.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
        <post><p>
          This is a random desrciption of this post
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsumLorem ipsum Lorem ipsum
        </p></post>
        <a class="btn btn-post pull-right marginBottom10" href="https://stackoverflow.com">READ MORE</a>
      </div>
      <div class="col-md-12 gap10"></div>
    </div>
  </div>
</template>
