<template>
  <div class="container">
  <div id="webpage_title">
    <img src="../../../assets/images/logo.png"/>
    <h1 class="main_title">Explore the latest journeys and support charities!</h1>
    <hr class="featurette-divider">
  </div>
    <div id="post" class="row">
      <div repeat.for="j of journeys">
        <div class="col-md-10 postShort">
          <h1>${j.title}</h1>
          ${j.userId}
          <img src="../../../assets/images/users/${j.userId.picture}.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail post-img">
          <post><p>
            <h3>${j.description}</h3>
          </p></post>
          <div repeat.for="c of j.charities">
            <img src="../../../assets/images/charities/${c}.png" alt="charity img" class="img-responsive thumb margin10 img-thumbnail charity">
          </div>
          <a class="btn btn-post pull-right marginBottom10" href="#/journey/${j.id}">READ MORE</a>
        </div>
      </div>
      <div class="col-md-12 gap10"></div>
    </div>
  </div>
</template>
