<template>
  <require from="components/chart/chart"></require>

  <div class="container-fluid">
    <div class="row">
      <!-- Profile -->
      <div class="col-md-6">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#/profile/${owner.id}" role="button">
              <img class="img" src="${owner.picture}">
            </a>
          </div>

          <div class="content">
            <h6 class="category text-gray">Software Architect</h6>
            <h2 class="card-title">${owner.name} ${owner.surname} | ${name}</h2>
            <p class="card-content journey-description">${shortDescription}</p>
            <div if.bind="!following" class="btn btn-primary btn-round" click.delegate="follow()">Follow</div>
            <div if.bind="following" class="btn btn-round btn-disabled">
            <i class="material-icons">check</i>
            Following</div>
            <a class="btn btn-round" href="#/profile/${owner.id}">Read more</a>
          </div>
        </div>
      </div>

      <!-- Distance covered -->
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">directions_run</i>
          </div>
          <div class="card-content">
            <p class="category">Distance covered today</p>
            <h3 class="title">${totalDistance} km</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

      <!-- Donation Stats -->
      <div class="col-lg-3 col-md-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="red">
            <i class="fa fa-heart"></i>
          </div>
          <div class="card-content">
            <p class="category">Donations raised</p>
            <h3 class="title">$0</h3>
            <a class="pull-right btn btn-primary btn-round" href.bind="donateUrl">Donate</a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <!-- Heart rate chart -->
      <chart data.bind="checkpoints" data-property="heartRate" title="Daily Heart Rate" analyser.bind="heartRateAnalytics"/>

    </div>

    <div class="row">
      <!-- Map -->
      <div class="col-md-12">
        <compose mouseenter.trigger='enableScrolling()' mouseleave.trigger='resetTimer()' view-model.ref="component" view-model="components/map"></compose>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="card-content">
            <!-- Twitter feed -->
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/microsoft" data-widget-id="870969931785019392">#microsoft Tweets</a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <!-- Weather forecast -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="card-content">
            <p class="category">Weather</p>
            <h3 class="title">It will be ${weather.main.temp}C at ${owner.name}'s location today</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> 1 hour ago
            </div>
          </div>
        </div>
      </div>

      <!-- Calories chart -->
      <chart data.bind="checkpoints" data-property="calories" title="Daily Calories Burned" analyser.bind="caloriesAnalytics"/>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-header">
          <h4 class="title">Discussion board</h4>
          <p class="category">Interact with ${owner.name} and the rest of his followers</p>
        </div>
        <div class="card-content container-fluid">
          <form if.bind="authService.authenticated">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Heading</label>
                  <input type="text" class="form-control" value.bind="commentTitle">
                  <span class="material-input"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Comment</label>
                  <div class="form-group is-empty">
                    <textarea class="form-control" rows="5" value.bind="commentContent"></textarea>
                    <span class="material-input"></span>
                  </div>
                </div>
              </div>
            </div>
            <button click.delegate="submitComment()" type="submit" class="btn btn-primary pull-right">Comment</button>
            <div class="clearfix"></div>
          </form>

          <h4 if.bind="!authService.authenticated">You need to be logged in to submit a comment</h4>

          <hr>
          
          <div repeat.for="s of statusUpdates" class="row">
            <div class="col-md-12">
              <div class="content">
                <h4 class="title">${s.title}</h4>
                <p>${s.content}</p>
                <hr>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
  
  </div>
</template>
