<template>
  <div class="container-fluid">

    <div repeat.for="j of journeys" class="row">
      <!-- Journey focus -->
      <div class="col-md-12">
        <div class="card card-journey">

          <div class="card-header">
            <h4 class="title">${j.name}</h4>
            <p class="category">by ${j.owner.name}</p>

            <div class="card-profile">
              <div class="card-avatar">
                <a href.bind="j.owner.profileUrl">
                  <img class="img" src.bind="j.owner.avatar">
                </a>1
              </div>
            </div>
          </div>
          
          <div class="card-content">

            <!-- Focused content card -->
            <div class="col-md-6">
              <div class="content">
                <h2 class="card-title">${j.focusedMessage.title}</h2>
                <p>${j.focusedMessage.content}</p>
              </div>
            </div>

            <!-- Focused data card -->
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">${j.focusedCheckpoint.icon}</i>
                </div>
                <div class="card-content">
                  <p class="category">${j.focusedCheckpoint.title}</p>
                  <h3 class="title">${j.focusedCheckpoint.content}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>