<template>
  <div class="container-fluid">
    <div class="row">
      <!-- Journey focus -->
      <div class="col-md-12">
        <div class="card card-journey">

          <div class="card-header">
            <h4 class="title">North By South 2017</h4>
            <p class="category">by James Redden</p>

            <div class="card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/norway-me.jpg">
                </a>
              </div>
            </div>
          </div>
          
          <div class="card-content">

            <!-- Focused content card -->
            <div class="col-md-6">
              <div class="content">
                <h2 class="card-title">Reflecting on day 21</h2>
                <p>
                In 2017 I will attempt a full distance, solo, unsupported and unaided ski to the South Pole. The aim of this expedition is to raise money for Soundabout.org.uk, a UK-based charity which uses music as a form of therapy for disabled childrend and adults. I will also be raising money for a second charity and the official announcement will be made soon. Start date will be November 2017 (lots of planning and funding to raise hence announcing now; 17 months before I set off). Distance is about 683 miles and one I’m aiming to complete in under 30 days. In between...
                </p>
              </div>
            </div>

            <!-- Focused data card -->
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">directions_run</i>
                </div>
                <div class="card-content">
                  <p class="category">Distance covered today</p>
                  <h3 class="title">24.245 km</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

        <div class="row">
      <!-- Journey focus -->
      <div class="col-md-12">
        <div class="card card-journey">

          <div class="card-header">
            <h4 class="title">North By South 2017</h4>
            <p class="category">by James Redden</p>

            <div class="card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/norway-me.jpg">
                </a>
              </div>
            </div>
          </div>

          <div class="card-content">

            <!-- Focused content card -->
            <div class="col-md-6">
              <div class="content">
                <h2 class="card-title">Reflecting on day 21</h2>
                <p>
                In 2017 I will attempt a full distance, solo, unsupported and unaided ski to the South Pole. The aim of this expedition is to raise money for Soundabout.org.uk, a UK-based charity which uses music as a form of therapy for disabled childrend and adults. I will also be raising money for a second charity and the official announcement will be made soon. Start date will be November 2017 (lots of planning and funding to raise hence announcing now; 17 months before I set off). Distance is about 683 miles and one I’m aiming to complete in under 30 days. In between...
                </p>
              </div>
            </div>

            <!-- Focused data card -->
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">directions_run</i>
                </div>
                <div class="card-content">
                  <p class="category">Distance covered today</p>
                  <h3 class="title">24.245 km</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

        <div class="row">
      <!-- Journey focus -->
      <div class="col-md-12">
        <div class="card card-journey">

          <div class="card-header">
            <h4 class="title">North By South 2017</h4>
            <p class="category">by James Redden</p>

            <div class="card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../assets/img/norway-me.jpg">
                </a>
              </div>
            </div>
          </div>
          
          <div class="card-content">

            <!-- Focused content card -->
            <div class="col-md-6">
              <div class="content">
                <h2 class="card-title">Reflecting on day 21</h2>
                <p>
                In 2017 I will attempt a full distance, solo, unsupported and unaided ski to the South Pole. The aim of this expedition is to raise money for Soundabout.org.uk, a UK-based charity which uses music as a form of therapy for disabled childrend and adults. I will also be raising money for a second charity and the official announcement will be made soon. Start date will be November 2017 (lots of planning and funding to raise hence announcing now; 17 months before I set off). Distance is about 683 miles and one I’m aiming to complete in under 30 days. In between...
                </p>
              </div>
            </div>

            <!-- Focused data card -->
            <div class="col-md-6">
              <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                  <i class="material-icons">directions_run</i>
                </div>
                <div class="card-content">
                  <p class="category">Distance covered today</p>
                  <h3 class="title">24.245 km</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> Last 24 Hours
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>