<template>
  <require from="components/chart/chart"></require>

  <div class="container-fluid">
    <div class="row">
      <!-- Profile -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <div click.trigger="gotoProfile()" role="button">
              <img class="img" src="../../../assets/images/users/${owner.picture}.jpg">
            </div>
          </div>

          <div class="content">
            <h6 class="category text-gray">Software Architect</h6>
            <h2 class="card-title">${owner.name} ${owner.surname} | ${name}</h2>
            <p class="card-content journey-description">${shortDescription}</p>
            <div class="btn btn-primary btn-round" click.delegate="follow()">Follow</div>
            <div class="btn btn-round" click.delegate="gotoProfile()">Read more</div>
          </div>
        </div>
      </div>

      <!-- Distance covered -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">directions_run</i>
          </div>
          <div class="card-content">
            <p class="category">Distance covered today</p>
            <h3 class="title">${totalDistance} km</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>

      <!-- Donation Stats -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="red">
            <i class="fa fa-heart"></i>
          </div>
          <div class="card-content">
            <p class="category">Donations raised</p>
            <h3 class="title">$20</h3>
            <a class="btn btn-primary btn-round" href.bind="donateUrl">Donate</a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <!-- Heart rate chart -->
      <chart data.bind="checkpoints" data-property="heartRate" title="Daily Heart Rate" analyser.bind="heartRateAnalytics"/>

    </div>

    <div class="row">
      <!-- Map -->
      <div class="col-md-12">
        <compose mouseenter.trigger='enableScrolling()' mouseleave.trigger='resetTimer()' view-model.ref="component" view-model="components/map"></compose>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="card-content">
            <!-- Twitter feed -->
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/microsoft" data-widget-id="870969931785019392">#microsoft Tweets</a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Just Updated
            </div>
          </div>
        </div>
      </div>

      <!-- Weather forecast -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="card-content">
            <p class="category">Weather</p>
            <h3 class="title">It will be ${weather.main.temp}C at James' location today</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> 1 hour ago
            </div>
          </div>
        </div>
      </div>

      <!-- Calories chart -->
      <chart data.bind="checkpoints" data-property="calories" title="Daily Calories Burned" analyser.bind="caloriesAnalytics"/>

    </div>
  </div>
</template>
