<template>
  <ul if.bind="!authService.authenticated" class="nav navbar-nav navbar-right">
    <li><a click.delegate="authService.authenticate()">Login with Facebook</a></li>
  </ul>

  <ul if.bind="authService.authenticated" class="nav navbar-nav navbar-right">
    <li class="pull-left">
      <a class="pull-left" href="#/profile/${authService.user.id}">${authService.user.name}</a>
      <img class="img nav-avatar" src.bind="authService.user.picture">
    </li>
    <li class="pull-left"><a href="#" click.delegate="authService.logout()">Logout</a></li>
  </ul>
</template>
