.main-content {
    margin-top: 70px;
    padding: 30px 15px;
}

.journey-description {
    margin-left: 20px;
    margin-right: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

.card-journey .card-header .card-profile {
	margin-top: -80px;
}

@media screen and (max-width: 768px) {
	.card-journey .card-header .card-profile {
		float: right;
	}
}