.main-content {
    margin-top: 70px;
    padding: 30px 15px;
}

.journey-description {
    margin-left: 20px;
    margin-right: 20px;
}

#map {
    height: 400px;
    width: 100%;
}

.card-journey .card-header .card-profile {
    float: left;
    margin-right: 20px;
    margin-top: -20px;
}

.clickable:hover {
  background-color: #427df4;
}

#charityImg {
  float: left;
  height: 12vh;
  width: 12vh;
  max-height: 15%;
  max-width: 15%;
}

.nav-avatar {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
