<template>
  <div class="container-fluid">
    <div class="row">
      <!-- Profile -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="../../../assets/images/users/${owner.picture}.jpg">
          </div>

          <div class="content">
            <h6 class="category text-gray">Software Architect</h6>
            <h2 class="card-title">${owner.name} ${owner.surname} | ${name}</h2>
            <p class="card-content journey-description">${shortDescription}</p>
            <div class="btn btn-primary btn-round" click.delegate="follow()">
              Follow
            </div>
          </div>
        </div>
      </div>
      CHECK OUT MY AWESOME JOURNEYS
      <div repeat.for="j of journeys" class="row">
        ${j.name}
      </div>
      CHECK WHO I'M FOLLOWING
      <div repeat.for="f of following" class="row">
        ${f.name}
      </div>
  </div>
</template>
